<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <!-- 
    See http://nlog-project.org/wiki/Configuration_file 
    for information on customizing logging rules and outputs.
     -->
    <targets async="true">
        <!-- add your targets here -->
        <target xsi:type="File" name="ErrorFileTarget"
                encoding="UTF-8"
                fileName="${environment:variable=ALLUSERSPROFILE}/OTC/Traderegistry/Elastic/ActualTenderKeeper/Logs/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/Errors.${date:format=yyyyMMdd}.log"
                layout="${longdate} : ${threadid} : ${uppercase:${level}} : ${message}${onexception:inner=${newline}Exception is${newline}${exception:format=tostring:maxInnerExceptionLevel=10}"
        />
        <target xsi:type="File" name="EventFileTarget"
                encoding="UTF-8"
                fileName="${environment:variable=ALLUSERSPROFILE}/OTC/Traderegistry/Elastic/ActualTenderKeeper/Logs/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/Events.${date:format=yyyyMMdd}.log"
                layout="${longdate} : ${threadid} : ${message}"
        />
        <target xsi:type="File" name="DebugFileTarget"
                encoding="UTF-8"
                fileName="${environment:variable=ALLUSERSPROFILE}/OTC/Traderegistry/Elastic/ActualTenderKeeper/Logs/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/Debug.${date:format=yyyyMMdd}.log"
                layout="${longdate} : ${threadid} : ${message}"
        />
        <target xsi:type="Console" name="ConsoleTarget"
                layout="${longdate} : ${threadid} : ${uppercase:${level}} : ${message}${onexception:inner=${newline}Exception is${newline}${exception:format=tostring:maxInnerExceptionLevel=10}" />
    </targets>

    <rules>
        <!-- add your logging rules here -->
        <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="ErrorFileTarget"></logger>
        <logger name="*" level="Info" writeTo="EventFileTarget"></logger>
    </rules>
</nlog>