<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="globalPackagesFolder" value="../lib/packages" />
	</config>
	<packageSources>
		<add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
		<add key="NuGet OTC package source" value="http://nuget.otc.ru/nuget" />
	</packageSources>
</configuration>
